.codehilite .hll { background-color: #ffffcc }
.codehilite .lineno { background-color: #2E2E2E; padding: 3px 2px 3px 2px;}
.codehilite  { background: ##1E1E27; color: #cfbfad; background-color: #1E1E27 }
.codehilite .c { color: #cd8b00; background-color: #1E1E27 } /* Comment */
.codehilite .err { color: #cfbfad; background-color: #1E1E27 } /* Error */
.codehilite .g { color: #cfbfad; background-color: #1E1E27 } /* Generic */
.codehilite .k { color: #808bed; background-color: #1E1E27 } /* Keyword */
.codehilite .l { color: #cfbfad; background-color: #1E1E27 } /* Literal */
.codehilite .n { color: #cfbfad; background-color: #1E1E27 } /* Name */
.codehilite .o { color: #cfbfad; background-color: #1E1E27 } /* Operator */
.codehilite .x { color: #cfbfad; background-color: #1E1E27 } /* Other */
.codehilite .p { color: #cfbfad; background-color: #1E1E27 } /* Punctuation */
.codehilite .cm { color: #cd8b00; background-color: #1E1E27 } /* Comment.Multiline */
.codehilite .cp { color: #409090; background-color: #1E1E27 } /* Comment.Preproc */
.codehilite .c1 { color: #cd8b00; background-color: #1E1E27 } /* Comment.Single */
.codehilite .cs { color: #cd8b00; background-color: #1E1E27 } /* Comment.Special */
.codehilite .gd { color: #ffffcd; background-color: #6d3030 } /* Generic.Deleted */
.codehilite .ge { color: #df9f2d; font-weight: bold; background-color: #1E1E27 } /* Generic.Emph */
.codehilite .gr { color: #ffffff; background-color: #6e2e2e } /* Generic.Error */
.codehilite .gh { color: #af4f4b; font-weight: bold; background-color: #1E1E27 } /* Generic.Heading */
.codehilite .gi { color: #ffffcd; background-color: #306d30 } /* Generic.Inserted */
.codehilite .go { color: #8b8bcd; font-weight: bold; background-color: #1E1E27 } /* Generic.Output */
.codehilite .gp { color: #cfbfad; background-color: #1E1E27 } /* Generic.Prompt */
.codehilite .gs { color: #cfbfad; background-color: #1E1E27 } /* Generic.Strong */
.codehilite .gu { color: #af4f4b; font-weight: bold; background-color: #1E1E27 } /* Generic.Subheading */
.codehilite .gt { color: #ffffff; font-weight: bold; background-color: #ce4e4e } /* Generic.Traceback */
.codehilite .kc { color: #808bed; background-color: #1E1E27 } /* Keyword.Constant */
.codehilite .kd { color: #808bed; background-color: #1E1E27 } /* Keyword.Declaration */
.codehilite .kn { color: #808bed; background-color: #1E1E27 } /* Keyword.Namespace */
.codehilite .kp { color: #808bed; background-color: #1E1E27 } /* Keyword.Pseudo */
.codehilite .kr { color: #808bed; background-color: #1E1E27 } /* Keyword.Reserved */
.codehilite .kt { color: #ff8bff; background-color: #1E1E27 } /* Keyword.Type */
.codehilite .ld { color: #cfbfad; background-color: #1E1E27 } /* Literal.Date */
.codehilite .m { color: #f0ad6d; background-color: #1E1E27 } /* Literal.Number */
.codehilite .s { color: #ffcd8b; background-color: #404040 } /* Literal.String */
.codehilite .na { color: #cfbfad; background-color: #1E1E27 } /* Name.Attribute */
.codehilite .nb { color: #cfbfad; background-color: #1E1E27 } /* Name.Builtin */
.codehilite .nc { color: #cfbfad; background-color: #1E1E27 } /* Name.Class */
.codehilite .no { color: #ffcd8b; background-color: #1E1E27 } /* Name.Constant */
.codehilite .nd { color: #cfbfad; background-color: #1E1E27 } /* Name.Decorator */
.codehilite .ni { color: #c080d0; background-color: #1E1E27 } /* Name.Entity */
.codehilite .ne { color: #cfbfad; background-color: #1E1E27 } /* Name.Exception */
.codehilite .nf { color: #cfbfad; background-color: #1E1E27 } /* Name.Function */
.codehilite .nl { color: #cfbfad; background-color: #1E1E27 } /* Name.Label */
.codehilite .nn { color: #cfbfad; background-color: #1E1E27 } /* Name.Namespace */
.codehilite .nx { color: #cfbfad; background-color: #1E1E27 } /* Name.Other */
.codehilite .py { color: #cfbfad; background-color: #1E1E27 } /* Name.Property */
.codehilite .nt { color: #808bed; background-color: #1E1E27 } /* Name.Tag */
.codehilite .nv { color: #ff8bff; background-color: #1E1E27 } /* Name.Variable */
.codehilite .ow { color: #cfbfad; background-color: #1E1E27 } /* Operator.Word */
.codehilite .w { color: #cfbfad; background-color: #1E1E27 } /* Text.Whitespace */
.codehilite .mf { color: #f0ad6d; background-color: #1E1E27 } /* Literal.Number.Float */
.codehilite .mh { color: #f0ad6d; background-color: #1E1E27 } /* Literal.Number.Hex */
.codehilite .mi { color: #f0ad6d; background-color: #1E1E27 } /* Literal.Number.Integer */
.codehilite .mo { color: #f0ad6d; background-color: #1E1E27 } /* Literal.Number.Oct */
.codehilite .sb { color: #ffcd8b; background-color: #404040 } /* Literal.String.Backtick */
.codehilite .sc { color: #ffcd8b; background-color: #404040 } /* Literal.String.Char */
.codehilite .sd { color: #ffcd8b; background-color: #404040 } /* Literal.String.Doc */
.codehilite .s2 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Double */
.codehilite .se { color: #ffcd8b; background-color: #404040 } /* Literal.String.Escape */
.codehilite .sh { color: #ffcd8b; background-color: #404040 } /* Literal.String.Heredoc */
.codehilite .si { color: #ffcd8b; background-color: #404040 } /* Literal.String.Interpol */
.codehilite .sx { color: #ffcd8b; background-color: #404040 } /* Literal.String.Other */
.codehilite .sr { color: #ffcd8b; background-color: #404040 } /* Literal.String.Regex */
.codehilite .s1 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Single */
.codehilite .ss { color: #ffcd8b; background-color: #404040 } /* Literal.String.Symbol */
.codehilite .bp { color: #cfbfad; background-color: #1E1E27 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #ff8bff; background-color: #1E1E27 } /* Name.Variable.Class */
.codehilite .vg { color: #ff8bff; background-color: #1E1E27 } /* Name.Variable.Global */
.codehilite .vi { color: #ff8bff; background-color: #1E1E27 } /* Name.Variable.Instance */
.codehilite .il { color: #f0ad6d; background-color: #1E1E27 } /* Literal.Number.Integer.Long */